<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>🏐 Медиалига Волейбола</h5>
                <p>Экосистема волейбольных чемпионатов Хабаровска.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Навигация</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'core:home' %}">Главная</a></li>
                    <li><a href="{% url 'leagues:list' %}">Чемпионаты</a></li>
                    <li><a href="{% url 'stats:leaders' %}">Рейтинг</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Контакты</h5>
                <p>📧 media-volley@mail.ru</p>
                <p>📍 Хабаровск</p>
            </div>
        </div>
        <hr>
        <p class="text-center mb-0">&copy; 2024 Медиалига Волейбола</p>
    </div>
</footer>