{% extends 'base.html' %}
{% block title %}Чемпионаты{% endblock %}

{% block content %}
<h2>Все чемпионаты</h2>
<div class="row">
    {% for champ in championships %}
        <div class="col-md-6 mb-4">
            <div class="card" style="border-left: 5px solid {{ champ.primary_color }}">
                <div class="card-body">
                    <h5>{{ champ.name }}</h5>
                    <p>{{ champ.description|truncatewords:20 }}</p>
                    <a href="{% url 'leagues:detail' champ.pk %}" class="btn btn-primary btn-sm">Подробнее</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}